@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: white;
    min-height: 100vh;
    font-family:var(--fonte1)
}
/*Cabeçalho*/
.header{
    padding: 15px;
    background-color: black;
    color:white;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.header h1{
    /*text-transform:uppercase; --> é para poder colocar todas as letras em Maiuscolas*/
    /*text-transform:lowercaze; --> é para poder colocar todas as letras em nenusculas*/
    font-size: 10vh;
    font-family:var(--fonte2);
    font-variant: small-caps; /*Essa opção ela da uma variação para fonte, ou seja, todas continuam em maiuscola só que a única que relamente da um som mais gritante é sempre a primeira lentra.*/
}
.header > p {
   padding-bottom: 15px;
}

.header > p > a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(16, 16, 245, 0.918);
    font-size: 1.1em;

    
}
.header > p > a:hover{
    text-decoration: none;
    color: red;
}

/*Menu de Navegação*/
.nav{
    
    font-size: 2.5vh;
    position: fixed;
    top:130px;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.205);
    padding: 7px;
}
.navegacao li{
    display: inline;
}
.navegacao a {
    text-decoration: none;
    margin: 15px;
    color: rgb(34, 9, 175);
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
    
}
.navegacao a:hover{
    color: white;
    transform: scale(1.1);
    background-color: black;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
    
}

/*Corpo da Pagina*/
.text{
    padding: 0;
    padding-top: 25px;
    margin-top: 130px;
    background-color: white;
}
section{
    /*padding-top: 150px;
    margin-left: 20px;*/
    /*padding-left: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;*/
    font-size: 3vh;
    font-family: var(--fonte3);
    padding: 5vh 10px;
    line-height: 2em;/*Este elemento é pra poder dar um espaçamento entre as frases.*/
    
}

section .normal{
    background-color: white;
    color:black;
}

section .imagem{
    background-color: rgba(7, 6, 6, 0.815);
    color: white;
    padding: 10px;
}

section .imagem > p{
    background-color: rgba(0, 0, 0, 0.486);
    padding: 10px;
    text-shadow: 2px 2px 3px black;
    display: inline-block;
    width: fit-content;
    max-width: 100%;
}
section#imagem1{
    box-shadow:2px 2px 4px initial;
    background-image: url(./Imagens/flor.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.658);
}

section#imagem2{
    background-image: url(./Imagens/poema.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.658);
}
.text p{
    padding-bottom: 1.5em;
}

/*Rodape*/
.rodape{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
.rodape > p > a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
    font-size: 1.1em;
}

.rodape > p > a:hover{
    color:red
}
