@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Imagens/wallpaper002.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.header{
    text-align: center;
    color: aliceblue;
    background-color: rgb(107, 107, 161);
    padding: 20px;
}

.nav{
    padding-top: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav > a {
    text-decoration:none;
    padding: 15px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    transition: color 0.3s;

}

.nav > a:hover{
    color: red;
}

.main{
    padding: 20px;
    text-align: justify;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 7px black;
    background-color: blue;
    color: aliceblue;
    max-width: 1000px;
    margin: 30px auto;
}

.quadrado{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    width: 300px;
    height: 300px;
}
.qrcodi{
    padding-left:190px;
}

div#q1{
    background-color: blue;
    margin: 10px;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, red );
    margin: 10px;
}

div#q3{
    background-image: url(./Imagens/pattern003.png);
    margin: 10px;
}
